@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-bs-theme="light"] {
  --primary-background: 232,235,244;
  --secondary-background: 255, 255, 255;
  --primary-foreground: 0, 0, 0;
  --secondary-foreground: 103,103,103;
}

[data-bs-theme="dark"] {
  --primary-background: 42,46,68;
  --secondary-background: 54,59,79;
  --primary-foreground: 234,234,234;
  --secondary-foreground: 141,141,141;
}


body {
  background: rgb(var(--primary-background));
  font-family: Arial, Helvetica, sans-serif;
  @apply w-screen min-h-screen flex flex-col;
}

.fontWeight-extralight {
  @apply font-extralight;
}

.fontWeight-light {
  @apply font-light;
}

.fontWeight-normal {
  @apply font-normal;
}

.fontWeight-medium {
  @apply font-medium;
}

.fontWeight-semibold {
  @apply font-semibold;
}

.fontWeight-bold {
  @apply font-bold;
}

.fontWeight-extrabold {
  @apply font-extrabold;
}

.fontWeight-black {
  @apply font-black;
}

.textColor-primary {
  @apply text-primary-foreground;
}


.textColor-secondary {
  @apply text-secondary-foreground;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
